{% extends 'base.html' %}
{% block content %}
<div class="jumbotron">
    <div class="container text-center">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                </tr>
            </thead>
            <tbody>
                {% for user in commu_list %}
                <tr>
                    <td>{{ user.title }}</td>
                    <td>{{ user.content }}</td>
                    <td>{{ user.id1 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}