{% extends 'base.html' %}
{% block content %}

<div class="container-fluid text-center">    
    <div class="row content">
      <div class="col-sm-2 sidenav">
        <div class="wrapper">
          <ui class="mainMenu">
              <li class="item" id="account">
                  <a href="#account" class="btn"><i class="fas fa-user-circle"></i>안동축제</a>
                  <div class="subMenu">
                    <p><a href="#exp1">전통공예체험</a></p>
                    <p><a href="#exp2">레포츠체험</a></p>
                    <p><a href="#exp3">농촌체험</a></p>
                  </div>
              </li>
              <li class="item">
                  <a href="#" class="btn"><i class="fas fa-sign-out-alt"></i>Log Out</a>
              </li>
          </ui>
      </div>
      </div>
      <div class="col-sm-8 text-left">    
        <h1>체험여행</h1>
        <p>누구나 놀러오고 싶은 '안동'에서 '체험'할 수 있는 것들.</p>
        <hr> 
        <div id="map" style="width:900px; height:400px; margin:0 auto;"></div>
        <div class="container text-center">         
          <script src="http://dapi.kakao.com/v2/maps/sdk.js?appkey=fe4fe669c0e29292e13e253ea4ca331f"></script>
          <script>
          navigator.geolocation.getCurrentPosition(
              function(position) {
                  var lat = position.coords.latitude
                  var lng = position.coords.longitude
                  //alert(lat +','+ lng);
                  var container = document.getElementById('map');
                  var options = {
                  center : new kakao.maps.LatLng(lat, lng), // 안동대
                  level : 10
                  };
                  var map = new kakao.maps.Map(container, options);
                  var markerPosition = new kakao.maps.LatLng(lat, lng);
                  var marker = new kakao.maps.Marker({
                  position: markerPosition
                  });
                  marker.setMap(map);
                  
                  $.ajax({
                    url: '/expmap_data/',
                    data: {},
                    success: function (res) {
                      for (var i = 0; i < res.length; i++) {
                          var marker = new kakao.maps.Marker({
                            map: map, // 마커를 표시할 지도
                            position: new kakao.maps.LatLng(res[i].lat, res[i].lng),
                            title: res[i].title,
                          });

                          var iwContent = `<div style="padding:5px;">▶${res[i].title}◀</div>`, // 인포윈도우에 표출될 내용
                          iwRemoveable = true; // 인포윈도우 닫을 수 있는 x버튼

                          (function(m) {
                            // 인포윈도우
                            var infowindow = new kakao.maps.InfoWindow({
                                content : iwContent,
                                removable : iwRemoveable
                            });

                            // 마커 클릭이벤트
                            kakao.maps.event.addListener(m, 'click', function() {
                                  infowindow.open(map, m);  
                            });
                          })(marker);

                      }
                    }
                  });

              })
          </script>
          </div>
          <h2 id="exp1">[전통공예체험]</h2>
          <div class="jumbotron" style="background-color: #f5f5f5;">
            <div class="container">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th style="text-align: center;">상호명</th>
                            <th style="text-align: center;">주소</th>
                            <th style="text-align: center;">전화번호</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for exp in gg %}
                        <tr>
                            <td>{{ exp.name }}</td>
                            <td>{{ exp.adress }}</td>     
                            <td>{{ exp.phone }}</td>  
                        </tr>  
                        {% endfor %}
                    </tbody>
                </table>
            </div>
          </div>

          <h2 id="exp2">[레포츠체험]</h2>
          <div class="jumbotron" style="background-color: #f5f5f5;">{{contact|safe}}</div>


          <h2 id="exp3">[농촌체험]</h2>
          <div class="jumbotron" style="background-color: #f5f5f5;">{{contact2|safe}}</div>

          <h2 id="exp4">[꽃여행]</h2>
          <div class="jumbotron" style="background-color: #f5f5f5;">{{contact3|safe}}</div>
      </div>
      

      <div class="col-sm-2 sidenav">
        <div class="well">
          <p>ADS</p>
        </div>
        <div class="well">
          <p>ADS</p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}