{% extends 'base.html' %}
{% block content %}
<div class="container-fluid text-center">
  <div class="row content" style="height:818.6px;">
    <div class="col-sm-2 sidenav" style="height:818.6px;">
      <div id="scroll" style="position:absolute; margin-top: 20px; left: 20px; right:  20px;">
        <div class="tabs">
          <div class="tab">
            <input type="checkbox" id="chck1">
            <label class="tab-label" for="chck1">음식</label>
            <div class="tab-content">
              <ul>
                <li class="dropdown" style="width: 100%">
                  <div class="dropdown-content">
                    <a href="/food/#food1">안동간고등어</a>
                    <a href="/food/#food2">헛제사밥</a>
                    <a href="/food/#food3">안동찜닭</a>
                    <a href="/food/#food4">안동한우</a>
                    <a href="/food/#food5">안동칼국수</a>
                    <a href="/food/#food6">안동잉어찜</a>
                    <a href="/food/#food7">안동매운탕</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="tab">
            <input type="checkbox" id="chck2">
            <label class="tab-label" for="chck2">숙박</label>
            <div class="tab-content">
              <ul>
                <li class="dropdown" style="width: 100%">
                  <div class="dropdown-content">
                    <a href="/stay/#stay1">전통가옥</a>
                    <a href="/stay/#stay2">호텔/모텔</a>
                    <a href="/stay/#stay3">휴양림/수련원/농촌체험마을</a>
                    <a href="/stay/#stay4">기타숙박</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="tab">
            <input type="checkbox" id="chck3">
            <label class="tab-label" for="chck3">체험</label>
            <div class="tab-content">
              <ul>
                <li class="dropdown" style="width: 100%">
                  <div class="dropdown-content">
                    <a href="/exp/#exp1">전통공예체험</a>
                    <a href="/exp/#exp2">레포츠체험</a>
                    <a href="/exp/#exp3">농촌체험</a>
                    <a href="/exp/#exp4">꽃여행</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="tab">
            <input type="checkbox" id="chck4">
            <label class="tab-label" for="chck4">축제</label>
            <div class="tab-content">
              <ul>
                <li class="dropdown" style="width: 100%">
                  <div class="dropdown-content">
                    <a href="/festival/">안동국제탈춤페스티벌</a>
                    <a href="/festival2/">월영여행</a>
                    <a href="/festival3/">암산얼음축제</a>
                    <a href="/festival4">안동벚꽃축제</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-8 text-left" style="padding: 0 70px; float: left;">
      <h1 style="font-weight: bold;">암산얼음축제</h1>
      <br>
      <!-- 지도 -->
      <div class="container text-center">
        <div id="map" style="width:80%; height:400px; margin-left: -40px;"></div>
      </div>
      <script src="http://dapi.kakao.com/v2/maps/sdk.js?appkey=fe4fe669c0e29292e13e253ea4ca331f"></script>
      <script>
        navigator.geolocation.getCurrentPosition(
          function (position) {
            var lat = position.coords.latitude
            var lng = position.coords.longitude
            //alert(lat +','+ lng);
            var container = document.getElementById('map');
            var options = {
              center: new kakao.maps.LatLng(36.506422, 128.678733), // 안동대
              level: 3
            };
            var map = new kakao.maps.Map(container, options);
            var markerPosition = new kakao.maps.LatLng(36.506422, 128.678733);
            var marker = new kakao.maps.Marker({
              position: markerPosition
            });
            marker.setMap(map);

            $.ajax({
              url: '/fes_map/',
              data: {},
              success: function (res) {
                for (var i = 0; i < res.length; i++) {
                  var marker = new kakao.maps.Marker({
                    map: map, // 마커를 표시할 지도
                    position: new kakao.maps.LatLng(res[i].lat, res[i].lng),
                    title: res[i].title,
                  });

                  var iwContent = `<div style="padding:5px;">▶${res[i].title}◀</div>`, // 인포윈도우에 표출될 내용
                    iwRemoveable = true; // 인포윈도우 닫을 수 있는 x버튼

                  (function (m) {
                    // 인포윈도우
                    var infowindow = new kakao.maps.InfoWindow({
                      content: iwContent,
                      removable: iwRemoveable
                    });

                    // 마커 클릭이벤트
                    kakao.maps.event.addListener(m, 'click', function () {
                      infowindow.open(map, m);
                    });
                  })(marker);

                }
              }
            });

          })
      </script>
      <hr>

      <!--이미지 슬라이드 상세정보-->
      <div id="imgslide">
        <p class="text-1">아름다운 겨울...암산에서 즐겨요!</p>
        <p class="text-2">천혜의 자연절경을 고스란히 간직한 안동 암산에서 2020 안동 암산얼음축제를 개최합니다.<br>
            『대한大寒이와 소한小寒이의 신나는 겨울여행』이라는 슬로건으로 개최되는 가족형 겨울놀이 축제에 오셔서 신명나는 시간 되시길 바랍니다.<br>
            정든 옛 고향 동리를 닮은 정겹고 포근함이 묻어나는 이 곳 암산에서<br>
            썰매타기, 팽이치기, 빙어낚시, 송어잡이와 순백의 얼음빙벽과 얼음조각들도 만끽하시며<br>
            아이들에게는 부푼 꿈과 희망을, 어른들께서는 추억과 향수를 가득 담아 가시기를 바랍니다.
        </p>

        <input type="radio" name="pos" id="pos1" checked>
        <input type="radio" name="pos" id="pos2">
        <input type="radio" name="pos" id="pos3">
        <input type="radio" name="pos" id="pos4">
        <ul>
          <li><img src="http://bitly.kr/xgsGAzhuk31" style="width: 100%;"></li>
          <li><img src="http://bitly.kr/HXcTPYmhDuu" style="width: 100%;"></li>
          <li><img src="http://bitly.kr/fttRZeGBnOI" style="width: 100%;"></li>
          <li><img src="http://bitly.kr/NB2cxlDom8Te" style="width: 100%;"></li>
        </ul>
        <p class="pos">
          <label for="pos1"></label>
          <label for="pos2"></label>
          <label for="pos3"></label>
          <label for="pos4"></label>
        </p>
      </div>

      <div style="position: relative; width: 100%; height:185px; 
      background-color: #1a252f; margin: 0 auto; margin-bottom: 40px; 
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px; 
      box-shadow: 4px 4px 4px lightgray;
      padding-top: 10px;">
        <div>
          <p style=" font-weight:bold; padding: 0px 20px; text-align:left; border-radius: 10px;  width:95%; height: 40px; margin:10px auto; background-color: white;">
            <img src="http://bitly.kr/KjqHJmrIVbK" style="width: 40px;">
            시기 : 매년 1월~2월
          </p>
        </div>
        <div>
          <p style=" font-weight:bold; padding: 0px 20px; text-align:left; border-radius: 10px;  width:95%; height: 40px; margin:10px auto; background-color: white;">
            <img src="http://bitly.kr/KjqHJmrIVbK" style="width: 40px;">
            장소 : 안동시 남후면 광음리 암산유원지 일대
          </p>
        </div>
        <div>
          <p style=" font-weight:bold; padding: 0px 20px;text-align:left; border-radius: 10px;  width:95%; height: 40px; margin:10px auto; background-color: white;">
            <img src="http://bitly.kr/KjqHJmrIVbK" style="width: 40px;">
            내용 : 얼음빙벽ㆍ얼음조각 전시, 썰매ㆍ스케이트ㆍ얼음낚시 체험, 미니컬링 및 썰매끌기 대회 등
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-2 sidenav" style="height:818.6px;">
      <div class="well">
        <p>ADS</p>
      </div>
      <div class="well">
        <p>ADS</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}