{% extends 'base.html' %}
{% block content %}
<div class="container-fluid text-center">
  <div class="row content" style="height:818.6px;">
    <div class="col-sm-2 sidenav" style="height:818.6px;">
      <div id="scroll" style="position:absolute; margin-top: 20px; left: 20px; right:  20px;">
        <div class="tabs">
          <div class="tab">
            <input type="checkbox" id="chck1">
            <label class="tab-label" for="chck1">음식</label>
            <div class="tab-content">
              <ul>
                <li class="dropdown" style="width: 100%">
                  <div class="dropdown-content">
                    <a href="/food/#food1">안동간고등어</a>
                    <a href="/food/#food2">헛제사밥</a>
                    <a href="/food/#food3">안동찜닭</a>
                    <a href="/food/#food4">안동한우</a>
                    <a href="/food/#food5">안동칼국수</a>
                    <a href="/food/#food6">안동잉어찜</a>
                    <a href="/food/#food7">안동매운탕</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="tab">
            <input type="checkbox" id="chck2">
            <label class="tab-label" for="chck2">숙박</label>
            <div class="tab-content">
              <ul>
                <li class="dropdown" style="width: 100%">
                  <div class="dropdown-content">
                    <a href="/stay/#stay1">전통가옥</a>
                    <a href="/stay/#stay2">호텔/모텔</a>
                    <a href="/stay/#stay3">휴양림/수련원/농촌체험마을</a>
                    <a href="/stay/#stay4">기타숙박</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="tab">
            <input type="checkbox" id="chck3">
            <label class="tab-label" for="chck3">체험</label>
            <div class="tab-content">
              <ul>
                <li class="dropdown" style="width: 100%">
                  <div class="dropdown-content">
                    <a href="/exp/#exp1">전통공예체험</a>
                    <a href="/exp/#exp2">레포츠체험</a>
                    <a href="/exp/#exp3">농촌체험</a>
                    <a href="/exp/#exp4">꽃여행</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="tab">
            <input type="checkbox" id="chck4">
            <label class="tab-label" for="chck4">축제</label>
            <div class="tab-content">
              <ul>
                <li class="dropdown" style="width: 100%">
                  <div class="dropdown-content">
                    <a href="/festival/">안동국제탈춤페스티벌</a>
                    <a href="/festival2/">월영여행</a>
                    <a href="/festival3/">암산얼음축제</a>
                    <a href="/festival4">안동벚꽃축제</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-8 text-left" style="padding: 0 70px; float: left;">
      <h1 style="font-weight: bold;">안동국제탈품페스티벌</h1>
      <br>
      <!-- 지도 -->
      <div class="container text-center">
        <div id="map" style="width:80%; height:400px; margin-left: -40px;"></div>
      </div>
      <script src="http://dapi.kakao.com/v2/maps/sdk.js?appkey=fe4fe669c0e29292e13e253ea4ca331f"></script>
      <script>
        navigator.geolocation.getCurrentPosition(
          function (position) {
            var lat = position.coords.latitude
            var lng = position.coords.longitude
            //alert(lat +','+ lng);
            var container = document.getElementById('map');
            var options = {
              center: new kakao.maps.LatLng(36.560407, 128.731853), // 안동대
              level: 4
            };
            var map = new kakao.maps.Map(container, options);
            var markerPosition = new kakao.maps.LatLng(36.560407, 128.731853);
            var marker = new kakao.maps.Marker({
              position: markerPosition
            });
            marker.setMap(map);
          })
      </script>
      <hr>

      <!--이미지 슬라이드 상세정보-->
      <div id="imgslide">
        <p class="text-1">탈을 쓰고 춤을 추는 당신, 이미 축제의 주인공!</p>
        <p class="text-2">2019안동국제탈춤페스티벌 주제 '여성의 탈, 탈 속의 여성’ 가슴속에 꿈틀대는 한국인의 신명을 깨웁니다.<br> 
          탈을 쓰면 모든 인류가 하나가 되고 남녀노소의 구분이 없는 변화의 신명만이 축제장을 지배할 것입니다.<br> 
          세계 각국의 탈과 탈춤을 만날 수 있는 즐거운 여행! 
        </p>

        <input type="radio" name="pos" id="pos1" checked>
        <input type="radio" name="pos" id="pos2">
        <input type="radio" name="pos" id="pos3">
        <input type="radio" name="pos" id="pos4">
        <ul>
          <li><img src="http://bitly.kr/yJANVNHtISNq" style="width: 100%;"></li>
          <li><img src="http://bitly.kr/638Iisg9Bqf" style="width: 100%;"></li>
          <li><img src="http://bitly.kr/kvbKJrTLI5f" style="width: 100%;"></li>
          <li><img src="http://bitly.kr/c1yIqvaUPFm" style="width: 100%;"></li>
        </ul>
        <p class="pos">
          <label for="pos1"></label>
          <label for="pos2"></label>
          <label for="pos3"></label>
          <label for="pos4"></label>
        </p>
      </div>

      <div style="position: relative; width: 100%; height:185px; 
      background-color: #1a252f; margin: 0 auto; margin-bottom: 40px; 
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px; 
      box-shadow: 4px 4px 4px lightgray;
      padding-top: 10px;">
        <div>
          <p style=" font-weight:bold; padding: 0px 20px; text-align:left; border-radius: 10px;  width:95%; height: 40px; margin:10px auto; background-color: white;">
            <img src="http://bitly.kr/KjqHJmrIVbK" style="width: 40px;">
            시기 : 매년 9월 마지막주 금요일~ 10월 첫째주 일요일 (10일간)
          </p>
        </div>
        <div>
          <p style=" font-weight:bold; padding: 0px 20px; text-align:left; border-radius: 10px;  width:95%; height: 40px; margin:10px auto; background-color: white;">
            <img src="http://bitly.kr/KjqHJmrIVbK" style="width: 40px;">
            장소 : 안동 탈춤공원, 시내일원
          </p>
        </div>
        <div>
          <p style=" font-weight:bold; padding: 0px 20px;text-align:left; border-radius: 10px;  width:95%; height: 40px; margin:10px auto; background-color: white;">
            <img src="http://bitly.kr/KjqHJmrIVbK" style="width: 40px;">
            내용 : 눈물나게 신명나는 탈춤축제 현장에서 흥겨운 리듬에 맞춰 쌓인 스트레스를 확 풀어보세요!
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-2 sidenav" style="height:818.6px;">
      <div class="well">
        <p>ADS</p>
      </div>
      <div class="well">
        <p>ADS</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}