{% extends 'base.html' %}
{% block content %}
<div class="container-fluid text-center">
  <div class="row content" style="height:1055.200px;">
    <div class="col-sm-2 sidenav" style="height:100%;">
      <div id="scroll" style="position:absolute; margin-top: 20px; left: 20px; right:  20px;">
        <div class="tabs">
          <div class="tab">
            <input type="checkbox" id="chck1">
            <label class="tab-label" for="chck1">음식</label>
            <div class="tab-content">
              <ul>
                <li class="dropdown" style="width: 100%">
                  <div class="dropdown-content">
                    <a href="/food/#food1">안동간고등어</a>
                    <a href="/food/#food2">헛제사밥</a>
                    <a href="/food/#food3">안동찜닭</a>
                    <a href="/food/#food4">안동한우</a>
                    <a href="/food/#food5">안동칼국수</a>
                    <a href="/food/#food6">안동잉어찜</a>
                    <a href="/food/#food7">안동매운탕</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="tab">
            <input type="checkbox" id="chck2">
            <label class="tab-label" for="chck2">숙박</label>
            <div class="tab-content">
              <ul>
                <li class="dropdown" style="width: 100%">
                  <div class="dropdown-content">
                    <a href="/stay/#stay1">전통가옥</a>
                    <a href="/stay/#stay2">호텔/모텔</a>
                    <a href="/stay/#stay3">휴양림/수련원/농촌체험마을</a>
                    <a href="/stay/#stay4">기타숙박</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="tab">
            <input type="checkbox" id="chck3">
            <label class="tab-label" for="chck3">체험</label>
            <div class="tab-content">
              <ul>
                <li class="dropdown" style="width: 100%">
                  <div class="dropdown-content">
                    <a href="/exp/#exp1">전통공예체험</a>
                    <a href="/exp/#exp2">레포츠체험</a>
                    <a href="/exp/#exp3">농촌체험</a>
                    <a href="/exp/#exp4">꽃여행</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="tab">
            <input type="checkbox" id="chck4">
            <label class="tab-label" for="chck4">축제</label>
            <div class="tab-content">
              <ul>
                <li class="dropdown" style="width: 100%">
                  <div class="dropdown-content">
                    <a href="/festival/">안동국제탈춤페스티벌</a>
                    <a href="/festival2/">월영여행</a>
                    <a href="/festival3/">암산얼음축제</a>
                    <a href="/festival4">안동벚꽃축제</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-8 text-left" style="padding: 0 70px; float: left;">
      <h1>월영야행</h1>
      <p>안동의 미를 느낄 수 있는 축제를 즐겨보세요!</p>
      <hr>
      <!-- 지도 -->
      <div class="container text-center">
        <div id="map" style="width:80%; height:400px; margin-left: -40px;"></div>
      </div>
      <script src="http://dapi.kakao.com/v2/maps/sdk.js?appkey=fe4fe669c0e29292e13e253ea4ca331f"></script>
      <script>
        navigator.geolocation.getCurrentPosition(
          function (position) {
            var lat = position.coords.latitude
            var lng = position.coords.longitude
            //alert(lat +','+ lng);
            var container = document.getElementById('map');
            var options = {
              center: new kakao.maps.LatLng(36.576756, 128.760897), 
              level: 3
            };
            var map = new kakao.maps.Map(container, options);
            var markerPosition = new kakao.maps.LatLng(36.576756, 128.760897);
            var marker = new kakao.maps.Marker({
              position: markerPosition
            });
            marker.setMap(map);

          })
      </script>
      <hr>

      <!--이미지 슬라이드 상세정보-->
      <div id="imgslide">
        <p class="text-1">한 여름밤 월영교에서 다양한 문화공연과 체험!</p>
        <p class="text-2">안동이 사랑하는 공간, 월영교에서 꿈같은 추억을 만들어 가세요~<br>
            ‘남들도 우리처럼 사랑할까요’라는 주제로 <br>
            월영야행은 푸드 트럭, 월영장터, 체험, 공연 등 다양한 프로그램.
        </p>

        <input type="radio" name="pos" id="pos1" checked>
        <input type="radio" name="pos" id="pos2">
        <input type="radio" name="pos" id="pos3">
        <input type="radio" name="pos" id="pos4">
        <ul>
          <li><img src="http://bitly.kr/Gfj9htUzOx6" style="width: 100%;"></li>
          <li><img src="http://bitly.kr/2kYqd5Rdc1Q" style="width: 100%;"></li>
          <li><img src="http://bitly.kr/LEg6Rq7rCUv" style="width: 100%;"></li>
          <li><img src="http://bitly.kr/s0ivzVG5CSaC" style="width: 100%;"></li>
        </ul>
        <p class="pos">
          <label for="pos1"></label>
          <label for="pos2"></label>
          <label for="pos3"></label>
          <label for="pos4"></label>
        </p>
      </div>

      <div style="position: relative; width: 100%; height:185px; 
      background-color: #1a252f; margin: 0 auto; margin-bottom: 40px; 
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px; 
      box-shadow: 4px 4px 4px lightgray;
      padding-top: 10px;">
        <div>
          <p style=" font-weight:bold; padding: 0px 20px; text-align:left; border-radius: 10px;  width:95%; height: 40px; margin:10px auto; background-color: white;">
            <img src="http://bitly.kr/KjqHJmrIVbK" style="width: 40px;">
            시기 : 2020. 8. 6(목) ~ 8. 9(일)(4일간)
          </p>
        </div>
        <div>
          <p style=" font-weight:bold; padding: 0px 20px; text-align:left; border-radius: 10px;  width:95%; height: 40px; margin:10px auto; background-color: white;">
            <img src="http://bitly.kr/KjqHJmrIVbK" style="width: 40px;">
            장소 : 안동댐 월영교 일대
          </p>
        </div>
        <div>
          <p style=" font-weight:bold; padding: 0px 20px;text-align:left; border-radius: 10px;  width:95%; height: 40px; margin:10px auto; background-color: white;">
            <img src="http://bitly.kr/KjqHJmrIVbK" style="width: 40px;">
            내용 : 달빛을 담은 안동 월영교 일대에서 펼쳐지는 문화 프로그램
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-2 sidenav"  style="height:1055.200px;">
      <a style="display:scroll;position:fixed;bottom:20px;right:10px;" href="#">
        <img src="http://bitly.kr/bOAtpjPGYc9" style="width:60px; height:60px;">
      </a>
    </div>
  </div>
</div>

{% endblock %}