{% extends 'base.html' %}
{% block content %}

<div class="container-fluid text-center">    
    <div class="row content">
      <div class="col-sm-2 sidenav">
        <p><a href="#">찜닭 </a></p>
        
        <p><a href="#">종류2</a></p>
        <p><a href="#">종류3</a></p>
      </div>
      <div class="col-sm-8 text-left"> 
        <h1>먹거리 지도</h1>
        <p> ㅇㅇㅇ</p>
        <div class="jumbotron">
          <div class="container text-center">
              <div id="map" style="width:500px; height:400px; margin:0 auto;"></div>
          </div>
      </div>
      <!-- 위도/경도를 실시간으로 알아내는 코드로 바꿔보기-->
      <script src="http://dapi.kakao.com/v2/maps/sdk.js?appkey=20de334a212ac9b1dbd19f4a3008b244"></script>
      <script>
          navigator.geolocation.getCurrentPosition(
              function(position) {
                 var lat = position.coords.latitude;
                 var lng = position.coords.longitude;
                 //alert(lat + ', ' + lng);
      
          var container = document.getElementById('map');
          var options = {
              center: new kakao.maps.LatLng(lat, lng), // 안동대학교 위도/경도
              level: 14
          };
          var map = new kakao.maps.Map(container, options);
          var markerPosition = new kakao.maps.LatLng(lat, lng);
          var marker = new kakao.maps.Marker({
              position: markerPosition
          });
          marker.setMap(map);
      
          $.ajax({
              url: '/map_data/',
              data: {
                  'lat':lat, 'lng':lng
              },
              success: function (res) {
                  for (var i = 0; i < res.length; i++) {
                      var marker = new kakao.maps.Marker({
                          map: map, // 마커를 표시할 지도
                          position: new kakao.maps.LatLng(res[i].lat, res[i].lng),
                          title: res[i].title,
                      });
                  }
              }
          });
      });
      
      </script>
        <hr>
        <h3>Test</h3>
        <p>Lorem ipsum...</p>
      </div>
      <div class="col-sm-2 sidenav">
        <div class="well">
          <p>ADS</p>
        </div>
        <div class="well">
          <p>ADS</p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}