{% extends 'base.html' %}
{% block content %}
<div class="jumbotron">
    <div class="container text-center">
        <form method="post" action="/signin/">
            {% csrf_token %}
            <div class="form-group row">
            <img src="https://ifh.cc/g/raZeN4.png" alt="My Image" style="width: 200px; height: 150;">
            </div>
            <div class="form-group row">
                <!--<label for="email" class="col-sm-1 control-label">ID:</label>-->
                <div class="col-sm-12">
                <input type="text" class="form-control" id="id1" name="id1" style="z-index:1;position:relative;display:inline-block; opacity: 1;
                width: 300px;
                height: 40px;
                margin-bottom: 8px;
                padding: 7px 35px 10px 11px;
                border: solid 1px #dadada;">
                </div>
            </div>
            <div class="form-group row">
                <!--<label for="pwd" class="col-sm-1 control-label">PW:</label>-->
                <div class="col-sm-12">
                <input type="password" class="form-control" id="pwd" name="pwd" style="z-index:1;position:relative;display:block; opacity: 1;
                width: 300px;
                margin : 0 auto;
                height: 40px;
                margin-bottom: 8px;
                padding: 7px 35px 10px 11px;
                border: solid 1px #dadada;">
                </div>
            </div>
            <div class="form-group row">
            <button class="btn btn-info" id="signup" style="padding:10px 50px;float:center;
            width: 300px;height: 40px;
            text-align: center;">로그인</button>
            </div>
            <!--<a href=/signup>회원가입</a>-->
            <div class="form-group row">
            </div>
        </form>
        <button class="btn btn-primary" style="padding:10px 50px;float:center;
        width: 300px;height: 40px;
        margin-bottom: 8px;
        text-align: center;"
        onClick="location.href=/signup/">회원가입</button>

    </div>
</div>
{% endblock %}