{% extends 'base.html' %}
{% block content %}
<style>
  th {
    text-align: center;
  }
</style>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=fe4fe669c0e29292e13e253ea4ca331f"></script>
<div class="container-fluid text-center">

  <div class="row content">
    <div class="col-sm-2 sidenav">
      <div id="scroll" style="position:absolute; margin-top: 20px; left: 20px; right:  20px;">
        <div class="tabs">
          <div class="tab">
            <input type="checkbox" id="chck1">
            <label class="tab-label" for="chck1">음식</label>
            <div class="tab-content">
              <ul>
                <li class="dropdown" style="width: 100%">
                  <div class="dropdown-content">
                    <a href="/food/#food1">안동간고등어</a>
                    <a href="/food/#food2">헛제사밥</a>
                    <a href="/food/#food3">안동찜닭</a>
                    <a href="/food/#food4">안동한우</a>
                    <a href="/food/#food5">안동칼국수</a>
                    <a href="/food/#food6">안동잉어찜</a>
                    <a href="/food/#food7">안동매운탕</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="tab">
            <input type="checkbox" id="chck2">
            <label class="tab-label" for="chck2">숙박</label>
            <div class="tab-content">
              <ul>
                <li class="dropdown" style="width: 100%">
                  <div class="dropdown-content">
                    <a href="/stay/#stay1">전통가옥</a>
                    <a href="/stay/#stay2">호텔/모텔</a>
                    <a href="/stay/#stay3">휴양림/수련원/농촌체험마을</a>
                    <a href="/stay/#stay4">기타숙박</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="tab">
            <input type="checkbox" id="chck3">
            <label class="tab-label" for="chck3">체험</label>
            <div class="tab-content">
              <ul>
                <li class="dropdown" style="width: 100%">
                  <div class="dropdown-content">
                    <a href="/exp/#exp1">전통공예체험</a>
                    <a href="/exp/#exp2">레포츠체험</a>
                    <a href="/exp/#exp3">농촌체험</a>
                    <a href="/exp/#exp4">꽃여행</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="tab">
            <input type="checkbox" id="chck4">
            <label class="tab-label" for="chck4">축제</label>
            <div class="tab-content">
              <ul>
                <li class="dropdown" style="width: 100%">
                  <div class="dropdown-content">
                    <a href="/exp/#exp1">안동국제탈춤페스티벌</a>
                    <a href="/exp/#exp2">월영여행</a>
                    <a href="/exp/#exp3">암산얼음축제</a>
                    <a href="/exp/#exp4">안동벚꽃축제</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8 text-left">
      <h1>숙박</h1>
      <p>안동에서 편안하고 안전한 숙박을 즐기는 방법에는 여러가지 방법이 있다. 전통가옥, 호텔, 테마 게스트하우스같은 아름다운 숙박시설을 소개 시켜주는 페이지입니다.</p>
      <hr>
      <h3 id="stay1">전통가옥</h3>
      <p>심신을 편안하게 쉬러 오세요.</p>
      <div class="jumbotron">
        <div id="map" style="width:100%;height:600px;"></div>
        {{contact|safe}}
        {{contact4|safe}}
      </div>
      <hr>
      <h3 id="stay2">호텔/모텔</h3>
      <p>우수업소 및 호텔모텔안내입니다.</p>
      <div class="jumbotron">
        <div id="map1" style="width:100%;height:600px;"></div>
        {{contact1|safe}}
        {{contact5|safe}}
      </div>
      <hr>
      <h3 id="stay3">휴양림/수련원/농촌체험마을</h3>
      <p>휴양림, 농촌휴양마을 등을 안내합니다.</p>
      <div class="jumbotron">
        <div id="map2" style="width:100%;height:600px;"></div>
        {{contact2|safe}}
      </div>>
      <hr>
      <h3 id="stay4">기타숙박</h3>
      <p>게스트하우스, 펜션 등은 소개합니다.</p>
      <div class="jumbotron">
        <div id="map3" style="width:100%;height:600px;"></div>
        {{contact3|safe}}
      </div>
    </div>
    <div class="col-sm-2 sidenav">
      <div class="well">
        <p>광고</p>
      </div>
      <div class="well">
        <p>광고</p>
      </div>
    </div>
  </div>
</div>
<script>
  var container = document.getElementById('map');
  var container1 = document.getElementById('map1');
  var container2 = document.getElementById('map2');
  var container3 = document.getElementById('map3');

  var options = {
    center: new kakao.maps.LatLng(36.565269, 128.724538),
    level: 10
  };
  var options1 = {
    center: new kakao.maps.LatLng(36.565269, 128.724538),
    level: 8
  };
  var options2 = {
    center: new kakao.maps.LatLng(36.565269, 128.724538),
    level: 10
  };
  var options3 = {
    center: new kakao.maps.LatLng(36.565269, 128.724538),
    level: 9
  };

  var map = new kakao.maps.Map(container, options);
  var map1 = new kakao.maps.Map(container1, options1);
  var map2 = new kakao.maps.Map(container2, options2);
  var map3 = new kakao.maps.Map(container3, options3);

  var positions = [
    {% for d in data %}
  {
    content: "<div>{{d.place}}</div><div>{{d.tel}}</div>",
      latlng: new kakao.maps.LatLng({{ d.latlan }})
    },
  {% endfor %}
];
var positions1 = [
    {% for d in data1 %}
  {
    content: "<div>{{d.place}}</div><div>{{d.tel}}</div>",
      latlng: new kakao.maps.LatLng({{ d.latlan }})
    },
  {% endfor %}
];
var positions2 = [
    {% for d in data2 %}
  {
    content: "<div>{{d.place}}</div><div>{{d.tel}}</div>",
      latlng: new kakao.maps.LatLng({{ d.latlan }})
    },
  {% endfor %}
];
var positions3 = [
    {% for d in data3 %}
  {
    content: "<div>{{d.place}}</div><div>{{d.tel}}</div>",
      latlng: new kakao.maps.LatLng({{ d.latlan }})
    },
  {% endfor %}
];

for (var i = 0; i < positions.length; i ++) {
    // 마커를 생성합니다
    var marker = new kakao.maps.Marker({
        map: map, // 마커를 표시할 지도
        position: positions[i].latlng // 마커의 위치
    });

    // 마커에 표시할 인포윈도우를 생성합니다 
    var infowindow = new kakao.maps.InfoWindow({
        content: positions[i].content // 인포윈도우에 표시할 내용
    });

    // 마커에 mouseover 이벤트와 mouseout 이벤트를 등록합니다
    // 이벤트 리스너로는 클로저를 만들어 등록합니다 
    // for문에서 클로저를 만들어 주지 않으면 마지막 마커에만 이벤트가 등록됩니다
    kakao.maps.event.addListener(marker, 'mouseover', makeOverListener(map, marker, infowindow));
    kakao.maps.event.addListener(marker, 'mouseout', makeOutListener(infowindow));
}

for (var i = 0; i < positions1.length; i++) {
    // 마커를 생성합니다
    var marker = new kakao.maps.Marker({
      map: map1, // 마커를 표시할 지도
      position: positions1[i].latlng // 마커의 위치
    });

    // 마커에 표시할 인포윈도우를 생성합니다 
    var infowindow = new kakao.maps.InfoWindow({
      content: positions1[i].content // 인포윈도우에 표시할 내용
    });

    // 마커에 mouseover 이벤트와 mouseout 이벤트를 등록합니다
    // 이벤트 리스너로는 클로저를 만들어 등록합니다 
    // for문에서 클로저를 만들어 주지 않으면 마지막 마커에만 이벤트가 등록됩니다
    kakao.maps.event.addListener(marker, 'mouseover', makeOverListener(map1, marker, infowindow));
    kakao.maps.event.addListener(marker, 'mouseout', makeOutListener(infowindow));
  }
  

  for (var i = 0; i < positions2.length; i++) {
    // 마커를 생성합니다
    var marker = new kakao.maps.Marker({
      map: map2, // 마커를 표시할 지도
      position: positions2[i].latlng // 마커의 위치
    });

    // 마커에 표시할 인포윈도우를 생성합니다 
    var infowindow = new kakao.maps.InfoWindow({
      content: positions2[i].content // 인포윈도우에 표시할 내용
    });

    // 마커에 mouseover 이벤트와 mouseout 이벤트를 등록합니다
    // 이벤트 리스너로는 클로저를 만들어 등록합니다 
    // for문에서 클로저를 만들어 주지 않으면 마지막 마커에만 이벤트가 등록됩니다
    kakao.maps.event.addListener(marker, 'mouseover', makeOverListener(map2, marker, infowindow));
    kakao.maps.event.addListener(marker, 'mouseout', makeOutListener(infowindow));
  }
  for (var i = 0; i < positions3.length; i++) {
    // 마커를 생성합니다
    var marker = new kakao.maps.Marker({
      map: map3, // 마커를 표시할 지도
      position: positions3[i].latlng // 마커의 위치
    });

    // 마커에 표시할 인포윈도우를 생성합니다 
    var infowindow = new kakao.maps.InfoWindow({
      content: positions3[i].content // 인포윈도우에 표시할 내용
    });

    // 마커에 mouseover 이벤트와 mouseout 이벤트를 등록합니다
    // 이벤트 리스너로는 클로저를 만들어 등록합니다 
    // for문에서 클로저를 만들어 주지 않으면 마지막 마커에만 이벤트가 등록됩니다
    kakao.maps.event.addListener(marker, 'mouseover', makeOverListener(map3, marker, infowindow));
    kakao.maps.event.addListener(marker, 'mouseout', makeOutListener(infowindow));
  }

  // 인포윈도우를 표시하는 클로저를 만드는 함수입니다 
  function makeOverListener(map, marker, infowindow) {
    return function () {
      infowindow.open(map, marker);
    };
  }

  // 인포윈도우를 닫는 클로저를 만드는 함수입니다 
  function makeOutListener(infowindow) {
    return function () {
      infowindow.close();
    };
  }
</script>
{% endblock %}